----
title: Welcome to a site template
subtitle: A template for sites.
----

<div class="row">
  <div class="small-12 large-6 columns">
    This is a sample site that uses Hakyll, Foundation, WebPack, and
    PureScript for implementing responsive layouts with a type-safe
    language.
  </div>
</div>
